/* GLOBAL */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
  url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
  url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
  url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root{
  --bg-milky-dark: #C99B67;
  --bg-milky-light: #F3D7B7;
  --bg-green: #0A775F;
  --outline-color: var(--bg-green);
  --bg-grey: #E5E5E5;
  --bg-white: #F8F8F2;
  --text-color: #000;
  --site-font-family: "Roboto", "Arial", sans-serif;
}

*:focus{
  outline: 2px dashed var(--outline-color);
  outline-offset: 3px;
}

html{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before
*::after{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--site-font-family);
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;
  color: var(--text-color);
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  width: 100%;
  max-width: 1420px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.main-content{
  flex-grow: 1;
}

.site-header {
  padding-top: 40px;
  padding-bottom: 249px;
  background-color: var(--bg-milky-light);
  background-image:  url(../img/alfred.png),
  url(../img/cup-coffee.jpg);
  background-repeat: no-repeat;
  background-size: auto, contain;
  background-position: left calc(50% + 50px) top 25px, left calc(50% + 420px) top 104px;
}

.site-header-container{
  display: flex;
  align-items: center;
}

.site-logo-link{
  display: block;
  text-decoration: none;
  margin-right: auto;
}

.site-logo-link:hover{
  opacity: 0.8;
}

.site-logo-link:active{
  opacity: 0.6;
}

.logo-img {
  display: block;
  width: 235px;
  height: 24px;
  object-fit: contain;
}

.site-nav-lists {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.site-nav-item:not(:last-child){
  margin-right: 40px;
}

.site-nav-link {
  font-weight: 700;
  line-height:14px;
  font-size: 12px;
  --text-color: #333;
  color: var(--text-color);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

.site-nav-link:hover{
  color: var(--bg-green);
}

.site-nav-link:active{
  opacity: 0.6;
}

.site-hero {
  padding-top: 116px;
  padding-bottom: 249px;
  background-color: var(--bg-milky-light);

}

.hero-content {
  width: 464px;
  margin-left: 100px;
  margin-top: 156px;
}

.site-hero-header {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
}

.site-hero-text {
  margin-bottom: 34px;
}

.button {
  display: inline-block;
  padding: 16px 24px;
  background-color: var(--bg-green);
  text-decoration: none;
  border-radius: 100px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  font-variant: small-caps;
  color: #FFFFFF;
}

.button:hover{
  opacity: 0.8;
}

.button:active{
  opacity: 0.6;
}

.button-milky {
  background-color: var(--bg-milky-dark);
}

.collection {
  padding-top: 20px;
  padding-bottom: 20px;
  /* background-image: url(../img/leaf-left-top.png);
  background-position: left calc(50% - 600px) top + 200px;
  background-repeat: no-repeat;
  background-size: auto; */
}

.collection-container {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--bg-grey);
}

.collection-header {
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-variant: small-caps;
}

.collection-blog {
  display: flex;
  align-items: center;
}
.collection-img {
  width: 450px;
  height: 375px;
}

.collection-img:nth-child(2n+1){
  margin-right: 117px;
  margin-left: 143px;
}

.collection-content {
  width: 400px;
}

.collection-content:nth-child(2n+1){
  margin-right: 100px;
  margin-left: 300px;
}

.collection-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #333333;
}

.collection-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: #333333;
}

.site-promo-top {
  padding-top: 50px;
  padding-bottom: 500px;
  background-color: var(--bg-milky-dark);
  --text-color: #fff;
  color: var(--text-color);
}

.site-promo-top-header {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
}

.site-promo-top-text {
  width: 581px;
  line-height: 28px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
}

.site-promo-bottom {
  margin-right: 30px;
  margin-left: 30px;
  display: flex;
}

.site-promo-bottom-content {
  color: #333333;
  width: 433px;
}

.site-promo-bottom-content:not(:last-child){
  margin-right: 20px;
}

.promo-img {
  width: 433px;
  height: 500px;
  margin-top: -420px;
}

.promo-bottom-header {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}

.promo-bottom-text {
  width: 377px;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.instruction {
  --outline-color: var(--bg-milky-dark);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: var(--bg-green);
  background-image:  url(../img/but-first-coffee.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left calc(50% + 500px) top 5%;
}

.instruction-header {
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #FFFFFF
}

.restangle-content{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.restangle {
  width: 60px;
  height: 60px;
  background: var(--bg-white);
  border: 4px solid var(--bg-milky-dark);

}

.vector-dashed{
  margin: 0;
  width:393px;
  border: 0;
  border-bottom: 3px dashed var(--bg-milky-dark);
}

.instruction-container {
  display: flex;
  margin-bottom: 60px;
}

.instruction-content {
  padding: 20px 20px 40px 20px;
  width: 433px;
  background-color: var(--bg-white);
  color: #333;
}

.instruction-content:not(:last-child){
  margin-right: 20px;
}

.counter {
  margin-top: 0;
  margin-bottom: 45px;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  text-align: end;
  opacity: 0.8;
}

.instruction-content-header {
  width: 231px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;

}

.intruction-content-text {
  width: 385px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.site-footer{
  padding-top: 68px;
  padding-bottom: 68px;
  background-color: var(--bg-milky-light);
}

.social-lists {
  padding-left: 0;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 331px;
  list-style: none;
}

.social-item:not(:last-child){
  margin-right: 30px;
}

.social-link {
  display: block;
  text-decoration: none;
  color: #333;
}

.social-link:hover{
  color: var(--bg-green);
}

.social-link:active{
  opacity: 0.8;
}

.social-link svg{
  display: block;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .site-header{
    background-image:  url(../img/alfred@2x.png),
    url(../img/cup-coffee@2x.jpg);
  }

  .instruction{
    background-image:  url(../img/but-first-coffee@2x.png);
  }
}